@import "tailwindcss";

@theme {
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --color-text-surface: oklch(55.1% 0.027 264.364);
  --color-text-danger: #ffffff;
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-primary-hover: oklch(48.8% 0.243 264.376);
  --color-primary-border: oklch(48.8% 0.243 264.376);
  --color-primary-outline: oklch(42.4% 0.199 265.638);
  --color-secondary: #ffffff;
  --color-secondary-hover: oklch(98.5% 0.002 247.839);
  --color-secondary-border: oklch(92.8% 0.006 264.531);
  --color-secondary-outline: oklch(42.4% 0.199 265.638);
  --color-danger: oklch(57.7% 0.245 27.325);
  --color-danger-hover: oklch(50.5% 0.213 27.518);
  --color-danger-border: oklch(50.5% 0.213 27.518);
  --color-danger-outline: oklch(80.8% 0.114 19.571);
  --color-tertiary: #fbf9f7;
  --color-tertiary-border: oklch(92.8% 0.006 264.531);
  --color-tertiary-hover: #f7f8fb;
  --color-tertiary-active: oklch(88.2% 0.059 254.128);
  --color-surface: oklch(96.8% 0.007 247.896);
  --color-surface-border: oklch(92.8% 0.006 264.531);
  --color-surface-hover: oklch(96.7% 0.003 264.542);
}
